.vscode/*
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
*.code-workspace
.history/
debug/*

bin/main.o
bin/sudoku.o
testcases/output.txt
testcases/hard_sudokus_solved.txt
testcases/1000_sudokus_solved.txt
a.exe
a.out
**/.venv
.venv/*
scripts/gui.py
